@media only screen and (max-width: 768px) {
    #name{
        text-align: center;
        font-size: 25px;
        

    } 
}
@media only screen and (min-width: 768px) {
    #name{

        font-size: 46px;
        text-align: center;

    }
}
body {
    background-color: #fff;
    margin: 0px;
    overflow: auto;
    font-family:arial;
    color:#fff;
}

h1{
    margin:0;
}

a {
    color:#0078ff;
}
#canvas{
    width:100%;
    height:auto;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    background-color: #1a1724;               
}
.canvas-wrap{
    position:relative;

}
div.canvas-content{
    position:relative;
    z-index:2000;
    color:#fff;


}



@font-face {
    font-family: Theyperished;
    src: url(font/Theyperished.ttf);
}
#name{
    font-family: calibri;
    color: #fff;
     



}
.bar{
    margin-top: 25px;
    margin-left: 20px;
    color: #fff;
}
.side{
    opacity: 1;
    z-index: 2001;
}
#align{
   margin-left: auto;
   margin-right: auto;
   width: 200px;
}
.b_align{
    margin-left: auto;
    margin-right: auto;
}
#para{
    font-size: 14px;
    color: #4ff798;
    
   
}
.find{
    
    background: rgba(0,0,0,.3);
    width:80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}
#panel{
    color: #fff;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    
    
}
#input{
    background: rgba(255, 255, 255,1);
    
    
}
.tab{
    overflow: auto;
    height: 450px;
    
}
#logo{
    width: 40px;
    height: 50px;
    z-index: 2005;
    margin-top: 5px;
}
#load{
    display: none;
}
.heading{
    color:green;
}
#log_in{
    margin-left: 75px;
    background: #fff;
    color:black
    
    
}
#details{
    text-height: 2px;
    font-size: 10px;
    margin-top: 30px;
    
}
#details a{
    color: #7cffff;
}
#details p{
    line-height: 10px;
}
#marg{
    margin-top: 1px;
}