body{
    background: #2c7c6e;
}
.butt button{
    width: 78px;
    text-align: left;
    padding: 6px 1px;
}
#tow{
    display: none;


}
#del_tow{
    display: none;

}
#user_add{
    display: none;
}
#user_del{
    display: none;
}
.admin{
    color: #fff;
}
#logout{
    font-size: 18px;
    float:right;
    color: #fff;
    margin-top: 5px;
}
#load{
    display: none;
}