
#group{
    width: 200px;
    
}
#dist{
    width: 200px;
    
    
}
#town{
   
   width: 200px;
   margin-left: auto;
   margin-right: auto;
}
.submit{
    margin-left: auto;
    margin-right: auto;
}
.select{
    color: black;
}
#login{
    background: red;
}